.centered {
    margin: 0 auto;
    width: 400px;
}

.image {
    margin: 0 auto;
    width: 400px;
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.image:hover {
    width: 500px;
}
